{% extends 'base.html' %}

{% block content %}

    <center style="font-family:'tahoma'; color:azure;background-color:darkblue"><h1>Pasca Sarjana</h1></center>
    
    <br><br>
    <div class="isipascasarjana" style="font-family:'tahoma';color:cornflowerblue;margin:50px">
    <h3 style="text-align:center; color:rgb(57, 103, 188)">Program Studi Pascasarjana</h3>
    <ol >
        <li>Doktor Pendidikan</li>
        <li>Doktor Ilmu Akuntansi</li>
        <li>Doktor Ilmu Pertanian</li>
        <li>Pendidikan Bahasa Indonesia</li>
        <li>Magister Ilmu Hukum</li>
        <li>Magister Ilmu Pertanian</li>
        <li>Magister Administrasi Publik</li>
        <li>Magister Akuntansi</li>
        <li>Magister Ilmu Komunikasi</li>
        <li>Magister Manajemen</li>
        <li>Magister Teknik Kimia</li>
        <li>Pendidikan Bahasa Inggris</li>
        <li>Pendidikan Matematika</li>
        <li>Teknologi Pendidikan</li>
        <li>Magister Pendidikan Dasar</li>
        <li>Magister Ekonomi</li>
    </ol>

    </div>

    <br><hr><br>

    <div class="lokasipascasarjana" style="font-family:'tahoma';color:cornflowerblue" >
    <center style="color:rgb(57, 103, 188);text-align:center"><h3>Lokasi Kampus</h3></center><br>
    <center><img style="width:500px;height:300px" src="/static/images/pascasarjana.jpg"></center>
    <br>
    <p style="text-align:center">Fakultas Kedokteran ini berlokasi di Jl. Raya Palka No.Km 3, Panancangan, Kec. Cipocok Jaya, Kabupaten Serang, Banten.</p>
    </div>
    <br><br>
    

{% endblock %}