{% extends 'base.html' %}

{% block content %}

    <center style="font-family:'tahoma';color:azure;background-color:darkblue"><h1>Fakultas Teknik</h1></center>

    <div class="isift" style="color:rgb(57, 103, 188);text-align:justify;font-family: 'tahoma';margin:60px">
    <h3 style="text-align:center">Tentang Fakultas Teknik</h3>
    <p>Fakultas Teknik merupakan salah satu fakultas dalam lingkungan Universitas Sultan Ageng Tirtayasa, dimana sejak tahun 2001 Untirta telah menjadi perguruan tinggi negeri berdasarkan Surat Keputusan Presiden Republik Indonesia Nomor 32 tanggal 19 Maret tahun 2001. Kampus FT. Untirta berada dalam Kawasan Industri Cilegon, dimana pada kawasan ini terdapat berbagai macam industri logam berat, kimia, manufacture, engineering dan pembangkit listrik, diantaranya PT. Krakatau Steel & Group, PT. Krakatau Posco, PT. Candra Asri, PT. Asahimas, PT. Tri Polita, PT. PLN (Persero) PLTGU Cilegon, PT. Indonesia Power UBP Suralaya dan sebagainya. </p>
        
    <p>Secara geografis, Fakultas Teknik Untirta berada pada gerbang dan lintasan perdagangan Jawa-Sumatera serta lintas perdagangan internasional, yaitu dengan adanya pelabuhan penyeberangan ASDP di Merak serta beberapa pelabuhan internasional diantaranya Cigading, Bojonegara dan Krakatau Bandar Samudra. Secara administratif, Fakultas Teknik Untirta berada di Kota Cilegon dan Provinsi Banten yang terus berkembang.</p>
    </div>

    <div class="lokasift" style="color:rgb(57, 103, 188);text-align:center;font-family: 'tahoma'">
    <br><hr><br>
    <h3 style="color:rgb(57, 103, 188);text-align:center;font-family: 'tahoma'">Lokasi Kampus</h3><br>
    <center><img style="width:500px;height:300px" src="/static/images/teknik untirta.jpg"></center>
    <br>
    <p style="text-align:center">Fakultas ini berlokasi di Jl. Jenderal Sudirman Km 3, Kotabumi, Kec. Purwakarta, Kota Cilegon, Banten.</p>
    </div>

    <br><br>


{% endblock %}