{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="body about" >
    <center>
        <h1 style="font-family:'tahoma'; color:azure; background-color: darkblue">About Untirta</h1>
    </center>

    <div style="font-family:'tahoma';color:cornflowerblue " class="isiabout">

    <br><br>
     <h3 style="color:rgb(57, 103, 188);text-align:center">Sejarah Universitas Sultan Ageng Tirtayasa</h3>
     <p style="text-align:justify;margin:60px">Universitas Sultan Ageng Tirtayasa dimulai dengan berdirinya Yayasan Pendidikan Tirtayasa pada tanggal 1 oktober 1980 berdasarkan Akte Notaris No: 1 Tahun 1980, kemudian dilakukan penyempurnaan dan dikukuhkan kembali dengan akte Notaris Ny. R.Arie Soetardjo, Nomor 1, Tanggal 3 Maret 1986.
        <br><br>
        Kata Tirtayasa (Bahasa Sansekerta yang berarti Air Mengalir) diambil dari nama Pahlawan Nasional yang berasal dari Banten, yaitu Sultan Ageng Tirtayasa (Kepres RI Nomor: 045/TK/1070). Nama Asli Sultan Ageng Tirtayasa adalah Abul Fatih Abdul Fatah, pewaris ke-IV tahta Kesultanan Banten. Sultan Ageng Tirtayasa dianugerahi tanda jasa Pahlawan Nasional karena dengan gigih menentang penjajahan Belanda dan berhasil membawa kejayaan dan keemasan Kesultanan Banten.
        <br><br>
        Langkah awal Yayasan Pendidikan Tirtayasa mendirikan Sekolah Tinggi Ilmu Hukum (STIH) pada tahun 1981 disusul dengan pendirian Sekolah Tinggi Keguruan dan Ilmu Pendidikan (STKIP) pada tahun 1982. Berbarengan dengan pendiran STKIP, Yayasan Krakatau Steel Cilegon mendirikan SekolahTinggi Teknik (STT) yang selanjutnya STT bergabung dengan Yayasan Pendidikan Tirtayasa untuk persiapan berdirinya Universitas Tirtayasa Serang-Banten.
        <br><br>
        Universitas Tirtayasa Serang Banten merupakan merupakan penggabungan dari STIH, STT dan STKIP berdasarkan Surat Keputusan Mendikbud RI Nomor; 0596/0/1984, tanggal 28 November 1984, maka berubahlah status masing-masing sekolah tinggi menjadi Fakultas Hukum, Fakultas Teknik, dan Fakultas Ilmu Keguruan dan Ilmu Pendidikan (FKIP).
        <br><br>
        Seiring dengan harapan masyarakat Banten, dari tahun ke tahun Universitas Tirtayasa mengembangkan pendirian fakultas dan program studi baru ditandai dengan berdirinya Fakultas Pertanian berdasarkan Surat Keputusan Mendikbud RI Nomor: 0123/0/1989, tanggal 8 Maret 1989, dan Fakultas ekonomi dengan Surat Keputusan Mendikbud Nomor: 0331/0/1989, tanggal 30 Mei 1989.
        <br><br>
        Perubahan sosial politik yang terjadi di Indonesia telah ikut mempengaruhi perubahan yang terjadi pada Universitas Sultan Ageng Tirtayasa. Didasari oleh perkembangan Untirta sebagai Perguruan Tinggi Swasta yang kurang signifikan dan spirit era reformasi telah mendorong Pimpinan Universitas dan para Pimpinan Fakultas di lingkungan Universitas Tirtayasa serta Pengurus Yayasan Pendidikan Tirtayasa dan dukungan para tokoh Banten mengusulkan penegerian Universitas Sultan Ageng Tirtayasa kepada pemerintah pusat melalui Departemen Pendidikan Nasional. Selanjutnya pada tanggal 13 oktober 1999 keluarlah Keppres RI Nomor; 130/1999 tentang Persiapan Perguruan Tinggi Negeri Universitas Sultan Ageng Tirtayasa. Atas kerja keras dan kesungguhan dari pimpinan Untirta dan pengurus Yayasan maka pada tahun 2001 berdasarkan Keputusan Presiden RI Nomor: 32 tanggal 19 maret 2001 Universitas Sultan Ageng Tirtayasa secara resmi ditetapkan menjadi PerguruanTinggi Negeri definitif.
        <br><br>
        Universitas Sultan Ageng Tirtayasa sebagai perguruan tinggi negeri yang baru terus berupaya melakukan perubahan-perubahan dan perbaikan-perbaikan, baik dibidang kelembagaan, akademik, maupun dibidang kemahasiswaan dan kerjasama.
        <br><br>
        Perubahan mendasar dibidang organisasi dan tata kerja adalah dengan ditetapkannya Keputusan Mendiknas Nomor 023/J43/d.1/SK/IV/2003 dan Statuta Universitas Sultan Ageng Tirtayasa berdasarkan Keputusan Mendiknas Nomor 10 tahun 2007. Demikian pula perubahan dan perbaikan dibidang akademik khususnya pendirian fakultas dan jurusan-jurusan baru, pembangunan sarana dan prasarana pendidikan, pengembangan dan peningkatan kualitas dosen dan tenaga pendidikan lainnya, pengembangan ICT untuk menunjang pendidikan dan pelayanan akademik prima, pengembangan dan peningkatan sarana perpustakaan menuju e-library dan e-jurnal penguatan atmosfer akademik di kampus, serta peningkatan kualitas pendidikan melalui sistem penjaminan mutu dan evaluasi diri (Quality Assurance and Self evaluation).
        <br><br>
        Universitas Sultan Ageng Tirtayasa saat ini menyelenggarakan program pendidikan akademik dan program pendidikan vokasi. Program Pendidikan Akademik terdiri atas Program Pendidikan Sarjana(S1) sebanyak 6 fakultas dan 1 Program Pendidikan Megister ( Pascasarjana), yaitu (1) Fakultas Hukum, (2) Fakultas Keguruan dan Ilmu Pendidikan, (3) Fakultas Teknik, (4) Fakultas Pertanian, (5) Fakultas Ekonomi, (6) Fakultas Ilmu Sosial dan Ilmu Politik, dan (7) Pascasarjana. Jurusan/Program Studi yang saat ini dimiliki sebanyak 21 Prodi untuk Program Sarjana dan 3 Prodi untuk Program Megister dan Program Diploma III Ekonomi dengan rincian :
        <br><br>
        Program Sarjana (S1) meliputi : FH 1 jurusan ( Jurusan Ilmu Hukum ); FKIP 3 Jurusan dengan 7 Prodi (Jurusan Ilmu Pendidikan meliputi Prodi PLS, PGSD dan PGPAUD; Jurusan Pendidikan Bahasa meliputi Prodi Diksastrasia dan Bahasa Inggris; Jurusan IPA meliputi Prodi Matematika dan Biologi); FT 5 Jurusan ( Jurusan T. Mesin, T. elektro, T. Sipil, T. Kimia; T. Industri; dan T. Metalurgi); FAPERTA 3 Jurusan ( Jurusan Agribisnis; Agroteknologi; dan perikanan); FE meliputi 3 Jurusan ( Jurusan manajemen; Jurusan Akuntansi; Jurusan Ekonomi Pembangunan); FISIP Meliputi 2 Jurusan ( Jurusan Ilmu Administrasi Negara dan Ilmu Komunikasi). Fakultas Pascasarjana menyelenggarakan Program Megister (S2) dengan 3 Program Studi, yaitu (Prodi Teknologi Pembelajaran, Prodi Pendidikan Bahasa Indonesia dan Ilmu Hukum).
        <br><br>
        Selain Program Pendidikan Akademik sebagaimana tersebut di atas, Universitas Sultan Ageng Tirtayasa juga menyelenggarakan Program Pendidikan Vokasi yaitu Program Diploma III. Fakultas yang menyelenggarakan Program Diploma III, yaitu Fakultas Ekonomi terdiri atas Prodi Akuntansi, Prodi Marketing/Pemasaran, Prodi Perpajakan, Prodi Keuangan dan Perbankan. Fakultas Teknik dengan 1 Prodi yaitu Prodi Teknik Komputer dan Multimedia. Program Studi Teknik Komputer dan Multimedia pada tahun akademik 2011/2012 dipindahkan ke jenjang Sarjana (S1) program studi lain di lingkungan Fakultas Teknik.
        <br><br>
        Sumber daya manusia dan mahasiswa yang dimiliki Universitas Sultan Ageng Tirtayasa sampai dengan bulan Agustus 2012 terdiri atas 498 orang Dosen PNS, dan 177 tenaga Administrasi PNS.</p>
    </div>
    <br><hr><br>
    </div>


    <div class="maknalambang" style="font-family:'tahoma';color:cornflowerblue;margin:50px">
    <center style="color:rgb(57, 103, 188);text-align:center"><h3>Makna Lambang</h3></center>
    <br><br>
    <center><img style="width:200px;height:200px" src="/static/images/logo UNTIRTA.png"></center>
    <br>
    <p style="text-align:justify;">Makna Lambang Untirta, yaitu:
        <ol>
            <li><strong>Segi lima</strong> yaitu bentuk dasar yang melambangkan Pancasila.</li>
            <li><strong>Menara Masjid Banten</strong> yang berdiri kokoh dan kuat melambangkan keteguhan iman, pendirian yang kokoh dan tujuan yang tinggi, mulia, dan dinamis.</li>
            <li><b>Beringin yang rindang</b> berdiri tepat di tengah-tengah sebagai pengayom, melambangkan keadilan yang didambakan setiap insan.</li>
            <li><b>Empat akar pohon beringin yang terjuntai ke bawah</b> melambangkan Undang-Undang Dasar 1945.</li>
            <li><b>Tiga cabang akar beringin</b> melambangkan Tri Dharma Perguruan Tinggi (Pendidikan, Penelitian dan Pengabdian kepada masyarakat).</li>
            <li><b>Dua bulu angsa</b> yang sebagai alat tulis pada zaman dahulu yang melambangkan simbol pendidikan.</li>
            <li><b>Dua garis merah di bawah</b> adalah dua aliran sungai Ciujung dan Cidurian yang sejak zaman pemerintahan Sultan Ageng Tirtayasa digunakan untuk pengairan guna kemakmuran daerah, melambangkan suatu harapan agar para mahasiswa Untirta dapat mengembangkan tenaga dan pikirannya untuk kemakmuran daerah.</li>
        
        </ol>

        <br>

    <p style="text-align:justify">Arti dari Warna yang Ada di Lambang Untirta adalah sebagai berikut:</p>
        <ol>
            <li><b>Putih</b> melambangkan kesucian dan kebersihan hati yang murni.</li>
            <li><b>Kuning</b> keemasan melambangkan keagungan dan kejayaan.</li>
            <li><b>Merah</b> melambangkan keberanian.</li>
            <li><b>Biru</b> melambangkan kejernihan suasana dengan keaslian watak serta kesetiaan.</li>
            <li><b>Hijau</b> melambangkan kesegaran, kesehatan, dan kesuburan.</li>
            <li><b>Hitam</b> melambangkan kekuatan jiwa.</li>
        </ol>
    </p>
</div>

    <br><hr><br>

    <div class="visimisi" style="font-family:'tahoma';color:cornflowerblue;margin:60px ">
    <h3 style="color:rgb(57, 103, 188);text-align:center">Visi dan Misi</h3>
    <p style="text-align:justify">
        
        <h4>Visi</h4>
        Terwujudnya UNTIRTA Sebagai Integrated Smart and Green (It’S Green) University yang UNGGUL, BERKARAKTER DAN BERDAYA SAING, di Kawasan ASEAN tahun 2030.
        <br><br>

       <h4>Misi</h4>
       <ol>
        <li>Meningkatkan kualitas, relevansi dan daya saing pendidikan serta lulusan yang unggul, berkarakter dan berdaya saing di kawasan ASEAN.</li>
        <li>Meningkatkan kualitas dan kuantitas penelitian dan pengabdian kepada masyarakat yang inovatif berbasis kebutuhan nyata sesuai perkembangan zaman.</li>
        <li>Meningkatkan daya dukung tatakelola perguruan tinggi yang baik sebagai implementasi dari Integrated Smart and Green (It’S Green) University.</li>
       </ol>
        <br>
       <p style="text-align:justify"><b>Value JAWARA (Jujur Adil Wibawa Amanah Religius Akuntabel)</b> “UNTIRTA merupakan rumah yang tidak hanya berperan sebagai tempat, namun juga sebagai sumber pengetahuan, keteladanan, dan kebajikan. Oleh karena itu seluruh sivitas akademikanya berkewajiban menjunjung tinggi nilai-nilai dasar dalam melaksanakan tugas dan tanggungjawabnya.” (Sulaiman. 2019)</p>
    </div>
     


{% endblock %}