{% extends 'base.html' %}

{% load static %}

{% block content %}


    <center>
        <h1 style="font-family:'tahoma'; color:azure; background-color: darkblue">Fakultas Pertanian</h1>
    </center>

    <br>

    <div style="font-family:'tahoma';color:cornflowerblue;margin:50px;text-align:justify " class="isifaperta">
    <h3 style="color:rgb(57, 103, 188);text-align:center">{{ judul }}</h3> 
    <ol>
        <li>{{ jurusan1 }}</li>
            <p>{{ penjelasanprodisatu }}</p>
        <li>{{ jurusan2 }}</li>
            <p>{{ penjelasanprodidua }}</p>
        <li>{{ jurusan3 }}</li>
            <p>{{ penjelasanproditiga }}</p>
        <li>{{ jurusan4 }}</li>
            <p>{{ penjelasanprodiempat }}</p>
    
    </ol>
    </div>

    <br><hr><br>
    <div class="lokasifaperta" style="font-family:'tahoma';color:cornflowerblue;margin:60px;text-align:justify ">
     <h3 style="color:rgb(57, 103, 188);text-align:center">{{ lokasi }}</h3><br>
     <center><img style="width:400px;height:300px" src="/static/images/faperta untirta.jpg"></center>
     <br>
     <p style="text-align:center">{{ alamat }}</p>
    </div>

    <br><br>

    <h2>Daftar Nama Dosen Faperta</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>NIP</th>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Fakultas</th>
            <th>Prodi</th>
            <th>Alamat</th>
        </tr>
        {% for dosen in dataDosen %}
        <tr>
            <td>{{ dosen.nip }}</td>
            <td>{{ dosen.nama }}</td>
            <td>{{ dosen.tanggal_lahir }}</td>
            <td>{{ dosen.foto }}</td>
            <td>{{ dosen.email }}</td>
            <td>{{ dosen.fakultas }}</td>
            <td>{{ dosen.prodi }}</td>
            <td>{{ dosen.alamat }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Daftar Nama Staf Faperta</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>NIP</th>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Unit</th>
            <th>Alamat</th>
        </tr>
        {% for staf in dataStaf %}
        <tr>
            <td>{{ staf.nip }}</td>
            <td>{{ staf.nama }}</td>
            <td>{{ staf.tanggal_lahir }}</td>
            <td>{{ staf.foto }}</td>
            <td>{{ staf.email }}</td>
            <td>{{ staf.unit }}</td>
            <td>{{ staf.alamat }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Daftar Nama Mahasiswa Faperta</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>NIM</th>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Fakultas</th>
            <th>Prodi</th>
            <th>Alamat</th>
        </tr>
        {% for mahasiswa in dataMahasiswa %}
        <tr>
            <td>{{ mahasiswa.nim }}</td>
            <td>{{ mahasiswa.nama }}</td>
            <td>{{ mahasiswa.tanggal_lahir }}</td>
            <td>{{ mahasiswa.foto }}</td>
            <td>{{ mahasiswa.email }}</td>
            <td>{{ mahasiswa.fakultas }}</td>
            <td>{{ mahasiswa.prodi }}</td>
            <td>{{ mahasiswa.alamat }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
