{% extends 'base.html' %}

{% block content %}

    <center style="font-family:'tahoma';color:azure;background-color: darkblue;"><h1>Fakultas Ilmu Sosial dan Ilmu Politik</h1></center>
    
    <br><br>
    <ol>
        <h3 style="color:rgb(57, 103, 188);text-align:center;font-family:'tahoma'">Jurusan / Program Studi di Fakultas Ilmu Sosial dan Ilmu Politik</h3>
        
        <div class="isifisip" style="text-align:justify;color:cornflowerblue;margin: 50px;font-family:'tahoma'">
    
        <li>Ilmu Komunikasi</li>
        <p>Ilmu Komunikasi adalah studi yang mempelajari proses penyampaian pesan secara efektif dari komunikator (pemberi pesan) kepada komunikan (penerima pesan) melalui berbagai media. Di jurusan ini kita akan mempelajari komunikasi dalam berbagai tingkatan, mulai dari individu, media, periklanan/publisitas, komunikasi interkultural, hingga komunikasi media sosial.</p>
        <li>Ilmu Pemerintahan</li>
        <p>Ilmu Pemerintahan merupakan bidang yang mengkaji berbagai permasalahan organisasi, administrasi, manajemen, dan kepemimpinan dalam penyelenggaraan organisasi maupun badan publik yang bertugas melaksanakan kekuasaan negara sebagaimana tertuang dalam peraturan perundang-undangan. Di jurusan ini, kita akan dibekali sama keterampilan komunikasi dan negosiasi. Jurusan ini sangat cocok bagi kamu yang tertarik untuk terjun ke dunia politik dan pemerintahan.</p>
        <li>Administrasi Negara</li>
        <p>Jurusan Administrasi Negara merupakan rumpun ilmu sosial yang mana di beberapa kampus, jurusan ini disebut atau berganti nama menjadi Jurusan Administrasi Publik.</p>

        <p>Di Jurusan Administrasi Negara, kita akan belajar memahami bagaimana turunan dari setiap hukum/peraturan dan kebijakan yang di keluarkan oleh pemerintah dapat diimplementasikan dengan baik di setiap level, baik tingkat organisasi atau perseorangan. Selain itu, kita juga dituntut untuk bisa memanfaatkan teknologi dalam proses pengumpulan dan pengolahan data.</p>
    </div>
    </ol>
    <br><hr><br>
    
    <div class="lokasifisip" style="text-align:center;color:cornflowerblue;font-family:'tahoma'">
    <h3 style="font-family:'tahoma';color:rgb(57, 103, 188);text-align:center">Lokasi Kampus</h3><br>
    <center><img style="width:400px;height:400px" src="/static/images/feb untirta.jpeg"></center>
    <br>
    <p style="text-align:center">Fakultas Hukum ini berlokasi di   Jl. Raya Palka Km 3 Sindangsari, Pabuaran, Kab. Serang, Provinsi Banten </p>
    </div>

    <br><br>

    <h2>Daftar Nama Dosen Fisip</h2>
<table class="table table-success table-striped">
    <tr>
        <th>NIP</th>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Foto</th>
        <th>Email</th>
        <th>Fakultas</th>
        <th>Prodi</th>
        <th>Alamat</th>
    </tr>
    {% for dosen in dataDosen %}
    <tr>
        <td>{{ dosen.nip }}</td>
        <td>{{ dosen.nama }}</td>
        <td>{{ dosen.tanggal_lahir }}</td>
        <td>{{ dosen.foto }}</td>
        <td>{{ dosen.email }}</td>
        <td>{{ dosen.fakultas }}</td>
        <td>{{ dosen.prodi }}</td>
        <td>{{ dosen.alamat }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<h2>Daftar Nama Staf Fisip</h2>
<table class="table table-success table-striped">
    <tr>
        <th>NIP</th>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Foto</th>
        <th>Email</th>
        <th>Unit</th>
        <th>Alamat</th>
    </tr>
    {% for staf in dataStaf %}
    <tr>
        <td>{{ staf.nip }}</td>
        <td>{{ staf.nama }}</td>
        <td>{{ staf.tanggal_lahir }}</td>
        <td>{{ staf.foto }}</td>
        <td>{{ staf.email }}</td>
        <td>{{ staf.unit }}</td>
        <td>{{ staf.alamat }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<h2>Daftar Nama Mahasiswa Fisip</h2>
<table class="table table-success table-striped">
    <tr>
        <th>NIM</th>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Foto</th>
        <th>Email</th>
        <th>Fakultas</th>
        <th>Prodi</th>
        <th>Alamat</th>
    </tr>
    {% for mahasiswa in dataMahasiswa %}
    <tr>
        <td>{{ mahasiswa.nim }}</td>
        <td>{{ mahasiswa.nama }}</td>
        <td>{{ mahasiswa.tanggal_lahir }}</td>
        <td>{{ mahasiswa.foto }}</td>
        <td>{{ mahasiswa.email }}</td>
        <td>{{ mahasiswa.fakultas }}</td>
        <td>{{ mahasiswa.prodi }}</td>
        <td>{{ mahasiswa.alamat }}</td>
    </tr>
    {% endfor %}
</table>   

{% endblock %}