
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Bar</title>

    <!--Fonts Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

    
</head>
<body>
   
    <nav class="menu">
        
        <label><img src="\static\images\logo UNTIRTA.png" style="width:30px;height:30px"> UNTIRTA JAWARA</label>
        <ul>
            <li><a href="/profil/">Profil</a></li>
            <li><a href="">Fakultas</a>
                <ul class="dropdown">
                    <li><a href="/fh">Fakultas Hukum</a></li>
                    <li><a href="/fkip">Fakultas Keguruan dan Ilmu Pendidikan</a></li>
                    <li><a href="/ft">Fakultas Teknik</a></li>
                    <li><a href="/faperta">Fakultas Pertanian</a></li>
                    <li><a href="/feb">Fakultas Ekonomi dan Bisnis</a></li>
                    <li><a href="/fisip">Fakultas Ilmu Sosial dan Ilmu Politik</a></li>
                    <li><a href="/fk">Fakultas Kedokteran</a></li>
                    <li><a href="/pascasarjana">Pascasarjana</a></li>
                </ul>    
            </li>
               
            <li><a href="/aboutuntirta">About Untirta</a></li>
        </ul>


    </nav>
</body>
</html>



