
{% extends 'base.html' %}

{% block content %}

    <center style="font-family:'tahoma'; color:azure;background-color:darkblue"><h1>Fakultas Kedokteran</h1></center>
    
    <br><br>
    <div class="isifk" style="font-family:'tahoma';color:cornflowerblue">
    <h3 style="color:rgb(57, 103, 188);text-align:center">Jurusan / Program Studi di Fakultas Kedokteran</h3>
    <ol style="margin:50px">
        <li>S1 Pendidikan Dokter</li>
        <li>S1 Gizi</li>
        <li>S1 Keperawatan</li>
        <li>D3 Keperawatan</li>
        <li>S1 Ilmu Keolahragaan</li>
    </ol>

    <br>
    <hr>
    <br>
    <center style="color:rgb(57, 103, 188);text-align:center"><h3>Lokasi Kampus</h3></center><br>
    <center><img style="width:400px;height:300px" src="/static/images/kedokteran untirta.png"></center>
    <br>
    <p style="text-align:center">Fakultas Kedokteran ini berlokasi di Jl. Jend. Sudirman No.20, RT.10/RW.5, Kotabumi, Kec. Purwakarta, Kota Cilegon, Banten</p>
    </div>
    <br><br>

{% endblock %}