
{% extends 'base.html' %}

{% block content %}

    <center style="font-family:'tahoma'; color:azure;background-color:darkblue"><h1>Fakultas Kedokteran</h1></center>
    
    <br><br>
    <div class="isifk" style="font-family:'tahoma';color:cornflowerblue">
    <h3 style="color:rgb(57, 103, 188);text-align:center">Jurusan / Program Studi di Fakultas Kedokteran</h3>
    <ol style="margin:50px">
        <li>S1 Pendidikan Dokter</li>
        <li>S1 Gizi</li>
        <li>S1 Keperawatan</li>
        <li>D3 Keperawatan</li>
        <li>S1 Ilmu Keolahragaan</li>
    </ol>

    <br>
    <hr>
    <br>
    <center style="color:rgb(57, 103, 188);text-align:center"><h3>Lokasi Kampus</h3></center><br>
    <center><img style="width:400px;height:300px" src="/static/images/kedokteran untirta.png"></center>
    <br>
    <p style="text-align:center">Fakultas Kedokteran ini berlokasi di Jl. Jend. Sudirman No.20, RT.10/RW.5, Kotabumi, Kec. Purwakarta, Kota Cilegon, Banten</p>
    </div>
    <br><br>

    <h2>Daftar Nama Dosen Faperta</h2>
<table class="table table-success table-striped">
    <tr>
        <th>NIP</th>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Foto</th>
        <th>Email</th>
        <th>Fakultas</th>
        <th>Prodi</th>
        <th>Alamat</th>
    </tr>
    {% for dosen in dataDosen %}
    <tr>
        <td>{{ dosen.nip }}</td>
        <td>{{ dosen.nama }}</td>
        <td>{{ dosen.tanggal_lahir }}</td>
        <td>{{ dosen.foto }}</td>
        <td>{{ dosen.email }}</td>
        <td>{{ dosen.fakultas }}</td>
        <td>{{ dosen.prodi }}</td>
        <td>{{ dosen.alamat }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<h2>Daftar Nama Staf Faperta</h2>
<table class="table table-success table-striped">
    <tr>
        <th>NIP</th>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Foto</th>
        <th>Email</th>
        <th>Unit</th>
        <th>Alamat</th>
    </tr>
    {% for staf in dataStaf %}
    <tr>
        <td>{{ staf.nip }}</td>
        <td>{{ staf.nama }}</td>
        <td>{{ staf.tanggal_lahir }}</td>
        <td>{{ staf.foto }}</td>
        <td>{{ staf.email }}</td>
        <td>{{ staf.unit }}</td>
        <td>{{ staf.alamat }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<h2>Daftar Nama Mahasiswa Faperta</h2>
<table class="table table-success table-striped">
    <tr>
        <th>NIM</th>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Foto</th>
        <th>Email</th>
        <th>Fakultas</th>
        <th>Prodi</th>
        <th>Alamat</th>
    </tr>
    {% for mahasiswa in dataMahasiswa %}
    <tr>
        <td>{{ mahasiswa.nim }}</td>
        <td>{{ mahasiswa.nama }}</td>
        <td>{{ mahasiswa.tanggal_lahir }}</td>
        <td>{{ mahasiswa.foto }}</td>
        <td>{{ mahasiswa.email }}</td>
        <td>{{ mahasiswa.fakultas }}</td>
        <td>{{ mahasiswa.prodi }}</td>
        <td>{{ mahasiswa.alamat }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}